.container-about {
  background-color: rgb(243, 243, 243);
  text-align: center;
}
.container-about ul {
  list-style: none;
}

.block-text {
  width: 40%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.button-about {
  width: 230px;
  height: 60px;
  padding: 0px 16px;
  border-radius: 4px;
  background-color: rgb(66, 66, 255);
  border: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: white;
  margin: 32px auto 32px auto;
}

.button-about:hover {
  opacity: 0.9;
  cursor: pointer;
}

.image-cite {
  width: 400px;
  margin: 0 auto;
}